<section class="vote-now">
    <span *ngIf="!hideOptions" (click)="preselectOption(true)" [class]="currentSelection ? 'vote-now__thumb-up vote-now__thumb-selected' : 'vote-now__thumb-up'">
        <img src="../../../assets/img/thumb-up.svg" width="18px" height="18px">
    </span>´
    <span *ngIf="!hideOptions" (click)="preselectOption(false)" [class]="!currentSelection ? 'vote-now__thumb-down vote-now__thumb-selected' : 'vote-now__thumb-down'">
        <img src="../../../assets/img/thumb-up.svg" width="18px" height="18px">
    </span>
    <span *ngIf="!hideOptions" >
        <button class="vote-now__btn" (click)="emitVote()">Vote now</button>
    </span>
    <span *ngIf="hideOptions" class="vote-now__vote-again" (click)="showOptions()">
        <button class="vote-now__btn">Vote again</button>
    </span>
</section>